POSTGRES_USER=defpred
POSTGRES_PASSWORD=defpredpass
POSTGRES_DB=defpred_db
DATABASE_URL=postgres://defpred:defpredpass@db:5432/defpred_db
FLASK_ENV=production
SECRET_KEY=change_me
PORT=8000
FRONTEND_API_URL=http://localhost:8000/api
